<header>

    <div class="center">

        <div class="logo">

            <a href="/index.php"><img src="_assets/_img/logo.png" alt="Insurance Agency" /></a>

        </div>

        <nav>

            <ul class="menu">

                <li class="active"><a href="/index.php">Home</a></li>
                <li><button class="menu-element" data-action="show-quote-popup" data-quote-key="life-insurance">Get a quote</button></li>
                <!--<li><a href="/blog.html">Blog</a></li>-->
                <li>

                    <a href="#">Pages</a>
                    <i class="fa fa-caret-down"></i>

                    <ul class="submenu animated speed fadeInDown">

                        <li><a href="/index.php?view=agent">Agent</a></li>

                        <li>

                            <a href="/index.php?view=get-a-travel-insurance-quote"><i class="fa fa-caret-left"></i> Quote forms</a>
                            <ul class="submenu animated speed fadeInRight">

                                <li><a href="/index.php?view=get-a-funeral-insurance-quote">Funeral Insurance Quote</a></li>
                                <li><a href="/index.php?view=get-a-car-insurance-quote">Car insurance Quote</a></li>
                                <li><a href="/index.php?view=get-a-house-insurance-quote">House insurance Quote</a></li>
                                <li><a href="/index.php?view=get-a-healthcare-insurance-quote">Healthcare Insurance Quote</a></li>

                            </ul>

                        </li>

                        <!-- <li><a href="/claims.html">Claims</a></li> -->
                        <li><a href="/index.php?view=contact">Contact page</a></li>

                        <li>

                            <a href="/index.php?view=travel-insurance"><i class="fa fa-caret-left"></i> Insurances promo</a>
                            <ul class="submenu animated speed fadeInRight">

                                <li><a href="/index.php?view=funeral-insurance">Funeral Insurance</a></li>
                                <li><a href="/index.php?view=car-insurance">Car insurance</a></li>
                                <li><a href="/index.php?view=house-insurance">House insurance</a></li>
                                <li><a href="/index.php?view=healthcare-insurance">Healthcare Insurance</a></li>

                            </ul>

                        </li>

                        <!-- <li><a href="/404.html">404 page</a></li> -->
                    </ul>

                </li>

                <li><button class="menu-element" data-action="show-contact-popup">Contact</button></li>

            </ul>

            <div class="menu-responsive"><i class="fa fa-bars"></i></div>

        </nav>

        <div class="clear">
        </div>

    </div>

</header>
