<section class="references">

    <div class="center">

        <div class="left">

            <h3>References</h3>
            <h2>What our Clients say?</h2>

            <p>Donec eget elit vitae tortor convallis mattis. Aliquam erat volutpat. Integer vitae quam ut leo accumsan consequat eu ac sapien. Quisque tincidunt leo enim, in pulvinar felis consectetur ac.</p>
            <p><button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="car-insurance">Get a quote <i class="fa fa-paper-plane-o"></i></button></p>

        </div>

        <div class="right">

            <div class="references">

                <div class="single-reference">

                    <div class="single-reference-content">

                        <p>Proin et posuere dolor, a finibus tellus. Phasellus suscipit gravida magna. Nam posuere nisi eu ex sodales, sit amet dictum turpis maximus. Maecenas sodales vehicula tellus, at imperdiet risus.</p>

                    </div>

                    <div class="single-reference-author">

                        <strong>Anthony Smith</strong>October 12, 2014

                    </div>

                </div>

                <div class="single-reference">

                    <div class="single-reference-content">

                        <p>Quisque pharetra lorem quis libero ornare fringilla. Maecenas nisl justo, suscipit vel tortor at, varius auctor erat. Maecenas efficitur felis nec arcu volutpat lacinia.</p>

                    </div>

                    <div class="single-reference-author">

                        <strong>Susane Doe</strong>January 05, 2015

                    </div>

                </div>

            </div>

        </div>

        <div class="clear">
        </div>

    </div>

</section>
