<!--
facebook SDK
-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="_assets/_libs/jquery.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="_assets/_libs/no-ui-slider/jquery.nouislider.all.min.js"></script>
<script src="_assets/_libs/smoothscroll.js"></script>
<script src="_assets/_libs/parallax.js"></script>
<script src="_assets/_js/functions.js"></script>
