* {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma';
    color: #3e3e3e;
}

.clear {
    display: block;
    clear: both;
}

body {
    background: #eee;
}

#top-bar {            
    background: #313131;
    height: 200px;
}

#top-bar .content {
    width: 1000px;
    margin: 0 auto;
    font-size: 13px;
    padding: 10px 0;
}

#top-bar .content a {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#top-bar .content a:hover {
    opacity: 1;
}

#top-bar .content .divider {
    margin: 0 10px;
    color: #fff;
}

#top-bar .content strong {
    color: #fff;
    font-weight: 600;
}

#container {
    width: 1000px;
    margin: 50px auto;
}

#container #menu {
    width: 300px;
    float: left;
}

#container #menu .main-menu {
    list-style: none;
}

#container #menu .main-menu li {
    line-height: 1.8em;
    font-size: 15px;
}

#container #menu .main-menu li a {
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#container #menu .main-menu li a:hover {
    color: #ef7d92;
}

#container #menu .main-menu li ul {
    list-style-type: square;
    margin: 15px 0 15px 40px;
}

#container #menu .main-menu li ul li {
    line-height: 1.4em;
}                   

#container #menu .main-menu li ul li a {
    font-weight: 400;
    font-size: 13px;
}

#container #menu .main-menu li ul li ul {
    margin-left: 18px;
}

#container #menu .main-menu.fly {
    position: fixed;
    top: 30px;
}

#container #content {
    width: 600px;
    float: right;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ddd; 
    box-shadow: 0 0 3px rgba( 0, 0, 0, 0.05 );
    padding: 30px;
    margin-top: -100px;
}

#container #content .content-section {
    margin-bottom: 50px;
}

#container #content .content-section.content-section-last {
    margin-bottom: 0;
}

#container #content h2 {
    font-size: 24px;
    font-weight: 400;
    color: #de5873;
}

#container #content h3 {
    font-size: 15px;
    margin-top: 40px;
    border-top: 1px solid #eee;
    padding-top: 40px;
}

#container #content img.screen {
    border: 1px solid #ddd;
    padding: 5px;
    width: -webkit-calc( 100% - 11px );
    width: -moz-calc( 100% - 11px );
    width: calc( 100% - 11px );
    margin-top: 20px;
}

#container #content p {
    line-height: 1.8em;
    font-size: 15px;
    padding-top: 20px;
}

#container #content span.pre {
    background: #eee;
    font-family: 'Courier New';
    padding: 2px 5px;
    font-size: 13px;
}

#container #content ul {
    list-style-type: square;
    padding-top: 20px;
    margin-left: 40px;
}

#container #content ul li {
    line-height: 1.8em;
    font-size: 15px;
}